@media screen and (max-width:896px) {

    * {
        margin: 0;
        padding: 0;
    }     

    body {
        max-width: 900px;
        margin-right: -20%;
    }

    #logo {
        width: 100%;
        /* display: none; */
    }

    .icon {
        margin-top: -50px;

    }

    .me {
        display: none;
    }

    .me-sp {
        display: block;
        max-width: 600px;
        width: 133%;
        height: 50%;
        margin-top: 50px;
        /* margin-left: 20%; */
    }

    .title {
        width: 200px;
        text-align: center;
    }

    .self-title,
    .desc-title-pc {
        width: 200px;
        margin-left: 80%;
    }
    

    .self-introduction > p{
        margin-left: 15%;
    }

    .works {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: auto 0 auto 115%;
        vertical-align: top;
        width: calc(50% - 32px);
        max-width: 600px;
    }

    .desc-title-pc,
    .pic {
        margin-bottom: 50px;
    }

    .portfolio {
        height: auto;
    }

    .hobby-desc {
        display: block;
        width: 70%;
        margin-top: 50px;
        margin-left: 20%;
    }

    .hobby-desc > img {
        width: 100%;
    }

    .hobbys {
        display: block;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        /* margin: auto 0 auto 16%; */
        width: 208%;
    }

    .pic > video,
    .pic > img {
        width: 100%;
        margin-right: 10%; 
   }

    .footer {
        width: 200%;
        max-width: 600px;
    }

    .footer > p {
        bottom: 10px;
    }
}
