@media screen and (max-width:896px) {

    * {
        margin: 0;
        padding: 0;
    }     

    body {
        max-width: 900px;
    }

    #logo {
        width: 100%;
        display: none;
    }

    .icon {
        margin-top: -50px;

    }

    .me {
        display: none;
    }

    .me-sp {
        display: block;
        max-width: 600px;
        width: 133%;
        height: 50%;
        margin-top: 50px;
        margin-left: 20%;

    }

    .title {
        width: 200px;
        text-align: center;
    }

    .self-title,
    .desc-title-pc {
        width: 200px;
        margin-left: 80%;
    }
    

    .self-introduction > p{
        margin-left: 10%;
    }

    .desc-title-pc,
    .pic {
        margin-bottom: 50px;
    }

    .portfolio {
         margin-left: 50%; 
         margin-right: 50%; 
    }

    .hobby-desc {
        display: block;
        width: 70%;
        margin-top: 50px;
        margin-left: 20%;
    }

    .hobbys {
        display: block;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .pic > video,
    .pic > img {
        margin-right: 10%; 
   }

    .footer {
        width: 552px;
        max-width: 600px;
    }

    .footer > p {
        bottom: 10px;
    }
}
