@media screen and (max-width:640px) {

    * {
        margin: 0;
        padding: 0;
    }     

    body {
        max-width: 900px;
    }

    #logo {
        width: 100%;
    }

    .icon {
        margin-top: -50px;
    }

    .me {
        display: none;
    }

    .me-sp {
        display: block;
        margin-top: 50px;
        width: 133%;
        height: 50%;
    }

    .self-title,
    .desc-title-pc {
        margin-left: 100px;
    }

    .self-introduction{
        margin-left: 20px;
    }

    .desc-title-pc,
    .pic {
        margin-bottom: 50px;
    }

    .hobby-desc {
        width: 70%;
        margin-top: 50px;
        margin-left: 30px;
    }

    .hobbys {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .pic > video,
    .pic > img {
        margin-left: 10px;
    }

    .footer {
        width: 552px;
        max-width: 600px;
    }

    .footer > p {
        bottom: 10px;
    }
}
