/*
    ABOUT MEページ
*/

@font-face {
    font-family: 'lato-black';
    src: url(../font/Lato-Black.ttf);
}

@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);


body {
    margin: 0;
    --auto: auto;
    font-family: 'Noto Sans Japanese', Verdana, sans-serif;
}

#logo {
    display: none;
    width: 100vw;
    height: 100vh;
    transition: all 3s;
    background-color: white;
    text-align: center;
    padding: 150px 0px 300px 0px;
    margin-bottom: 0px;
    font-size: 30px;
    letter-spacing: 2px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.loaded {
    opacity: 0;
    visibility: hidden;
}

.fade {
    animation: fadeIn 1s ease 0.3s 1 normal;
}

.fade2 {
    animation: fadeIn 2s ease 0.3s normal;
}

.fade3 {
    animation: fadeIn 3s ease 0.3s normal;
}

@keyframes fadeIn {
    0%, 25%, 50%, 75%{opacity: 0}

    100% {opacity: 1}
}

.fade3:after {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    z-index: 9999;
    pointer-events: none;
    left: 100%;
}

header {
    font-family: lato-black;
}

.header-list {
    display: flex;
    justify-content: space-between;
}

.header-list-sp,
.close {
    display: none;
}

.column {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #000000;
}

.sns-icons {
    margin: 10px 50px 0 0;
}

.column > li,
.sns-icons > li{
    display: inline;
}

.sns-icons > img {
    padding-bottom: 30px;
}

.introduction {
    width: 800px;
    margin: 0 var(--auto);
}

.info {
    margin-left: 32px;
    width: 60%;
    align-self: center;
    font-weight: bold;
     display: flex;
}

.intro-title {
    float:left;
}

.info h1 {
    font-weight: normal;
    font-size: 60px;
    margin: 0;
}

.info p {
    width: 100%;
    margin: 0;
    margin-bottom: 16px;
}

.info ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.info ul li {
    margin-right: 8px;
}

.me {
    width: 100%;
}

.me-sp {
    display: none;
}

.about {
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    transition: background .3s;
}

.about-section {
    margin-top: 120px;
}

.hobbys {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    vertical-align: top;
    width: calc(50% - 32px);
}

.pic {
    margin-bottom: var(--auto);
    width: 360px;    
    text-align: center;
}

.pic > img,
.pic > video {
    width: 300px;
    margin-top: 20%;
}

.hobby-img > img{
    width: 300px;
    margin-top: 20%;

}

.pic > video {
    height: 200px;
}

.hobby-desc {
    width: 200%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.hobby-desc >img {
        margin-top: 10%;
    width: 50%;
    height: 50%;
}

.hobby-desc:nth-child(even) {
    flex-direction: row-reverse;
}

.desc {
    width: 100%;
    margin-top: 10%;

}



.section-title,
.self-title{
    text-align: center;
}

.self-title {
    margin: 150px auto 50px;
}

.self-title > h1 {
    margin-bottom: 0;
}

.self-title > h5 {
    margin-top: 15px;
}

.self-introduction {
    text-align: center;
    margin-bottom: 30px;
}

.self-introduction > p {
    margin: 0 var(--auto);
    width: 500px;
}

.desc-title-pc {
    text-align: center;
}

.desc-title-pc > h1 {
    margin: 0 auto 0;
    font-size: 2em;
    text-align: center;
}

.desc-title-pc > h5 {
    margin-top: 15px;
}

.desc-title-smartphone {
    display: none;
}

.carrer-title {
    text-align: center;
    margin: 120px auto 50px;

}

.carrer-title,
.carrer-desc {
    text-align: center;
}

.portfolio-desc {
    padding-left: 32px;
    /* width: calc(50% - 40px); */
    width: 70%;

}

.portfolio-img > img {
    margin-bottom: 50px;
    margin-top: 30px;
    width: 300px;
    height: 230px;
    position: relative;
}

.footer {
    background:black;
    color: white;
    text-align: center;
    margin-top: 150px;
    height: 40px;
    position: relative;
}

.footer > p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    font-size: 12px;
}


