/*
    ABOUT MEページ
*/

/* ヘッダー→Lato Black
それ以外の欧文→Verdana
和文→Noto Sans CJK JP
だよ〜！
Noto SansはAdobeからコード取れたから、貼ってみた！ */

@font-face {
    font-family: 'lato-black';
    src: url(../font/Lato-Black.ttf);
}

@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);


body {
    margin: 0;
    --auto: auto;
    font-family: 'Noto Sans Japanese', Verdana, sans-serif;
}

#logo {
    width: 100%;
    text-align: center;
    padding: 300px 0px 300px 0px;
    margin-bottom: 0px;
    font-size: 30px;
    letter-spacing: 2px;
}

.fade {
    animation: fadeIn 1s ease 0.3s 1 normal;
}

.fade2 {
    animation: fadeIn 2s ease 0.3s normal;
}

.fade3 {
    animation: fadeIn 3s ease 0.3s normal;
}

@keyframes fadeIn {
    0%, 25%, 50%, 75%{opacity: 0}

    100% {opacity: 1}
}

header {
    /* padding-top: 32px;
    padding-bottom: 32px;
    align-items: center; */
    font-family: lato-black;
}

.header-list {
    /* background: orange; */
    display: flex;
    justify-content: space-between;
}

.column {
    font-weight: bold;
}

.sns-icons {
    margin: 10px 45px 0 0;
}

.column > li,
.sns-icons > li{
    display: inline;
}

.sns-icons > img {
    padding-bottom: 30px;
}

.introduction-section {
        background: orange;
}

.introduction {
    width: 800px;
    margin: 0 var(--auto);
    /* padding-left: 200px; */
    display: flex;
}

.info {
    margin-left: 32px;
    width: 60%;
    align-self: center;
    font-weight: bold;
    /* position: absolute;
    top: 300px;
    left: 200px; */
}

.info h1 {
    font-weight: normal;
    font-size: 24px;
    margin: 0;
}

.info p {
    width: 100%;
    margin: 0;
    margin-bottom: 16px;
}

.info ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.info ul li {
    margin-right: 8px;
}

.icon img{
    width: 400px;
    height: 400px;
    padding-top: 70px;
    vertical-align: bottom;
    /* width: 180px;
    height: 180px;
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    border-color: #343a40;
    object-fit: cover; */
}

.about {
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    transition: background .3s;
}

.about-section {
    margin-top: 120px;
}

.hobbys {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin-left: 150px; */
    margin: 0 0 0 100px;
        vertical-align: top;

    /* width: calc(50% - 32px); */
}


/* .about:nth-child(odd) {
    flex-direction: row-reverse;
} */

.pic {
    margin-bottom: var(--auto);
    width: 360px;    
}

.pic > img,
.pic > video {
    width: 300px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; */

}

.pic > video {
    height: 200px;
}

.hobby-desc {
    text-align: center;
    padding-right: 100px;
}


.section-title,
.self-title{
    text-align: center;
}

.self-title {
    margin: 150px auto 50px;
}

.self-title > h1 {
    margin-bottom: 0;
}

.self-title > h5 {
    margin-top: 15px;
}

.self-introduction {
    text-align: center;
    margin-bottom: 30px;
}

.self-introduction > p {
    margin: 0 var(--auto);
    width: 500px;
}

.desc-title-pc {
    text-align: center;
}

.desc-title-pc > h1 {
    margin: 0 auto 0;
    font-size: 2em;
    text-align: center;
}

.desc-title-pc > h5 {
    margin-top: 15px;
}

.desc-title-smartphone {
    display: none;
}

.carrer-title {
    text-align: center;
    margin: 120px auto 50px;

}

.carrer-title,
.carrer-desc {
    text-align: center;
}

.portfolio {
    width: 600px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 60px;
    justify-content: space-between;
    transition: background .3s;
}

.portfolio-desc {
    padding-left: 32px;
    width: calc(50% - 32px);

}

.portfolio-img > img {
    margin-bottom: 50px;
    margin-top: 30px;
    width: 300px;
    height: 230px;
    position: relative;
}

.footer {
    background:black;
    color: white;
    text-align: center;
    margin-top: 150px;
    height: 40px;
    position: relative;
}

.footer > p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    font-size: 12px;
}

@media screen and (max-width:640px) {

    html {
        width: auto;
    }
    
    .self-title {
        width: 500px;
    }

    .self-introduction {
        margin-bottom: 0px;
        width: 600px;
        text-align: center;
    }

    .title {
        margin-left: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-title {
        width: 500px;
    }

    .about-section {
        margin: 100px 0 auto;
        width: 100%;
    }

    .about-section > h1 {
        margin: 0  150px auto 100px;
    }

    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about > .pic > img {
        border-radius: 70%;
        height: 150px;
        width: 150px;
    }

    .about > .desc {
        margin: 100px auto 0px;
    }

    .carrer-desc {
        width: 500px;
        text-align: center;
    }

    .about > .carrer-desc > h1 {
        font-size: 2em;
    }

    .desc-title-pc {
        display: none;
    }

    .desc-title-smartphone {
        display: block;
        font-size: 2em;
    }

    .portfolio-video > video {
        width: var(--auto);
        height: 360px;
    }

}
