/*
    ABOUT MEページ
*/
body {
    --auto: auto;
    font-family: Verdana, sans-serif;
}
header {
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
}

.introduction {
    width: 25%;
    margin: 0 var(--auto);
    display: flex;
}

.info {
    margin-left: 32px;
}

.info h1 {
    font-weight: normal;
    font-size: 24px;
    margin: 0;
}

.info p {
    width: 100%;
    margin: 0;
    margin-bottom: 16px;
}

.info ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.info ul li {
    margin-right: 8px;
}

.icon img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    border-color: #343a40;
    object-fit: cover;
}

.about {
    width: 600px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 60px;
    justify-content: space-between;
    transition: background .3s;
}

.about:hover {
        background-color: rgba(0, 0, 0, .2);
}

/* .about:nth-child(odd) {
    flex-direction: row-reverse;
} */

.pic {
    margin-bottom: var(--auto);
    margin-top: var(--auto);
    width: 360px;
    position: relative;
    
}

.pic > img {
    width: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.desc {
    width: calc(50% - 32px);
}


@media screen and (max-width:640px) {

    body {
        /* background: green; */
    }
    
    header {
        /* background: skyblue; */
    }

    /* .info {
        background: yellowgreen;
    } */

    .about-section {
        margin: 100px 0 auto;
        width: 100%;
    }

    .about {
        /* background: orange; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about > .pic > img {
        border-radius: 70%;
        /* border-width: 4px;
        border-style: solid;
        border-color: #343a40; */
        object-fit: cover;
    }

    .about > .desc {
        margin: 100px auto;
        padding-top: var(--auto);
    }

}
